<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heang.koriaibackend.domain.activity.mapper.ActivityLogMapper">

    <insert id="insert">
        INSERT INTO activity_logs (user_id, feature, duration_ms)
        VALUES (#{userId}, #{feature}, #{durationMs})
    </insert>

</mapper>
